body {
    font-family: $font-title;
    color: $color-main;
}

h1, h2, h3, h4, h5 {
    font-family: $font-title;
    color: $color-main;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    @include clearfix();
}
