// ================================================================================================
// Buttons
// ================================================================================================

.btn {
    display: inline-block;
    padding: 12px 25px 10px;
    font-size: 18px;
    @include linear-gradient(#a6a8ab, #808184);
    color: #fff;
    border: none;
    text-decoration: none;
    @include border-radius(.45em);
    @include transition(.2s linear);

    &:hover,
    &.active {
        @include linear-gradient(#76c7cb, #00a69c);
        @include transition(.2s linear);
    }

    &[disabled] {
        cursor: default;
        @include opacity(.6);
    }
}

.btn-secundary {
    padding: 10px 23px 8px;
    background: none;
    border: 2px solid #59595b;
    color: #59595b;
    @include box-sizing(border-box);

    &:hover {
        background: #59595b;
        border: 2px solid #fff;
        color: #fff;
    }
}
