$color-main: #322e2d;
$color-featured: #ff2c55;

$font-title: 'Exo', sans-serif;
$font-default: sans-serif;

// animations
$animmation-effect: ease-in-out;
$animmation-duration: 0.3s;
$animmation-delay: 0.1s;

// sizes
$responside-mobile-width: 768px;
